<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.26.0/axios.js"></script>
		<title></title>
	</head>
	<body>
		<div class="wrap" id="app">
			<div class="search_form">
				<div class="logo"><img src="./天气预报.jpg" alt=""></div>
			<div class="form_group">
				<input type="text" v-model="city" @keyup.enter="searchWeather" 
				class="input_txt" placeholder="请输入查询的天气">
			<button class="input_sub">
				搜索
			</button>
			</div>
			<div class="hotkey">
				<a href="javascript:;"@click="changCity('北京')">北京</a>
				<a href="javascript:;"@click="changCity('上海')">上海</a>
				<a href="javascript:;"@click="changCity('广州')">广州</a>
				<a href="javascript:;"@click="changCity('深圳')">深圳</a>
			</div>
			</div>
			<ul class="weather_list">
				<li v-for="item in weatherList">
					<div class="info_type"><span class="iconfont">{{item.type}}</span></div>
				<div class="info_temp">
					<b>{{item.low}}</b>
				~
				<b>{{item.high}}</b>
				</div>
				<div class="info_date"><span>{{item.date}}</span></div>
				</li>
			</ul>
		</div>
		<script src="main1.js"></script>
	</body>
</html>
